/* Fonts */
@font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/libre-baskerville/LibreBaskerville-Regular.ttf"),
      url("../fonts/libre-baskerville/LibreBaskerville-Bold.ttf"),
      url("../fonts/libre-baskerville/LibreBaskerville-Italic.ttf");
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-Regular.ttf"),
      url("../fonts/nunito/Nunito-Bold.ttf"),
      url("../fonts/nunito/Nunito-Italic.ttf");
  }

  /* Basic outline */
html {
  
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  text-align: center;

}

p {
  font-family: "Nunito", sans-serif;
}

/* styling for body */
.main {
  background-color: #F0CE75;
  text-align: center;
  margin: auto;
  width: 700px;
  height: 300px;
  border: 1px solid black;
}

/* styling for the button */
.button {
  color: white;
  background-color: #28333E;
  width: 200px;
  border: 1px solid black;
  margin: auto;
  padding: 0px;
  border-radius: 7px;
}

.button:hover {
  color: white;
  cursor: pointer;
  
}

#message-button {
  text-align: center;
  width: 200px;
  height: 40px;
  padding: 15px 0 0px 0;
  margin: 0;
}

/* styling the message */
#message {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: center;
  display: block;
  white-space: pre-wrap;
}
